@font-face {
    font-family: "Raleway Light";
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'), 
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;        
}


@font-face {
    font-family: "Raleway Medium";
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;        
}

@font-face {
    font-family: "Playfair Display Italic";
    src: url("../fonts/playfairdisplay-italic-webfont.eot");
    src: url("../fonts/playfairdisplay-italic-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/playfairdisplay-italic-webfont.woff2") format('woff2'),
         url("../fonts/playfairdisplay-italic-webfont.ttf") format('truetype'),
         url("../fonts/playfairdisplay-italic-webfont.svg") format('svg');
          font-style:italic;
          font-weight:normal;

}
@font-face {
    font-family: "Playfair Display Regular";
    src: url("../fonts/playfairdisplay-regular-webfont.eot");
    src: url("../fonts/playfairdisplay-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/playfairdisplay-regular-webfont.woff2") format('woff2'),
         url("../fonts/playfairdisplay-regular-webfont.ttf") format('truetype'),
         url("../fonts/playfairdisplay-regular-webfont.svg")  format('svg');
         font-style:normal;
         font-weight:normal;
}

body, html {
    font-size: 16px;
    font-family:"Raleway Light", "Garamond";
}

.container {
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex: 0 200 200%;
    top: 0;

}
/* header-------------------------------------------*/
header {
    background-color: white;
    margin: 0 1.5%;
    width: 15%;
    position:fixed;
    height: 110px;
    display:flex;
    max-width: 1240px;
    flex-wrap: wrap;
   
}

.navmenu {
    display:flex;
    flex: auto;
    justify-content:space-between;
    max-width: 30rem;
    padding-bottom:10px;
     border-top: 1px solid #d7d7d7;
     flex:1 1 50%;
     font-family: "Raleway Medium", "Garamond";
    font-weight: normal;
    font-style: normal;
    
}

.navmenu p {
    width:100%; 
	text-align:center; 
    justify-content: center;
	align-self: center;  
	margin:0;
    text-transform: uppercase;
    color:#e2574c;
    font-family: "Raleway Medium", "Garamond";
    font-weight: normal;
    font-style: normal;
    
    }

    .navmenu a {
        text-decoration:none;
    }

.aboutnav {
    display: inherit;
   
}

.shopnav {
    display: inherit;

}

.featurednav {
    display:inherit;

}

.updatesnav {
    display:inherit;

}

.cart {
    height: 45px;
    max-width: 16%;
    align-self: center;
    margin: 1% 4% 6% 32%;
    flex: 0 1 50%;

}

.logo {
    
    max-width: 120px;
    height: 35px;
    margin: 2% 0 0 -9px;
    flex: 0 1 50%;
}

 .counter {
    position: absolute;
    top: 26%;
    right: 5%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    background-color: #e2574c;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
 }

.space {
    display:flex;
    justify-content: space-between;
    max-width: 18rem;
    width:100%;
}


/* hero banner----------------------------------------*/
.heroBanner {
    background: linear-gradient(to bottom, rgba(0,0, 0, 0.4) 0%, rgba(0,0,0,0.2) 100%),
                url(../images/banner-girl-compressor.png) no-repeat center center, 
                url(../images/flower-bkgd-compressor.jpg);             
    background-size: contain, contain, cover;
    height: 555px;
    background-position-y: 109px;  
}

.heroBanner div {
    display: flex;
    flex-direction: column;
    height: 96%;
    justify-content: center;
    width: 100%;

}

.spring {
    font-size: 3rem;
    color: white; 
    text-align: center;
    font-family:"Playfair Display Regular", "Garamond";
    text-shadow: 1px 1px 2px black;
    
}


.smalltxt {
    font-size: 20px;
    text-transform: uppercase; 
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: "Raleway Medium", "Garamond";
    font-weight: normal;
    font-style: normal;
}

/* first section ---------------------------------------*/

.handcraft {
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 60px;
    padding-bottom: 50px;
    margin-top: 60px;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
}

h1 {
    font-family:"Playfair Display Regular", "Garamond";
    font-size:35px;
    padding-bottom: 2%;
    font-weight: bold;
    margin: 0 auto;
    text-align:center;
}

.heavy {
    font-size: 35px;
    font-family:"Playfair Display Italic", "Garamond";
    font-style:italic;
    font-weight:normal;
}

 .firstpara {
    font-size: 14px;
    font-family:"Raleway Light", "Garamond";
}  

img {
    max-width: 100%;

}

/* Box items ---------------------------------------------*/
.boxitems{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.catagories {
	display: flex;
    flex-wrap: wrap;
    min-height: 900px;
    margin-bottom: 1rem;
    justify-content:center;

}
.mens { 
    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), 
                 url(../images/mens-category.jpg) no-repeat center center;
    background-size: cover, cover;
     max-width: 100%;
     flex: 1 1 100%;
    margin:2px;
    display: inherit;
}
.trends {
     background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), 
                        url(../images/trends-category.jpg)no-repeat center center;
     background-size: cover, cover;
     max-width:50%;
     flex: 1 1 48%;
     margin: 2px;
     border-left:0;
    display: inherit;
} 

.glasses {

    background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), 
                        url(../images/glasses-category.jpg)no-repeat center center;
     background-size: cover, cover;
     max-width:50%;
     margin: 2px;
     flex: 1 0 48%;
     border-right: 0;
    display: inherit;
    }

.sale {
      background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), 
                        url(../images/sale-category.jpg)no-repeat center center;
     background-size: cover, cover;
     /*border: 3px solid white;*/
     max-width:50%;
     margin: 2px;
     flex: 1 0 48%;
     border-left:0;
     display: inherit;
}

.bags {
     background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), 
                        url(../images/bags-category.jpg)no-repeat center center;
     background-size: cover, cover;
     /*border: 3px solid white;*/
     max-width:50%;
     flex: 1 0 48%;
     border-right: 0;
     margin: 2px;
     display: inherit;
}

.womens {
     background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ), 
                 url(../images/womens-category.jpg) no-repeat center center;
    background-size: cover, cover;
    /*border-bottom: 3px solid white;*/
     max-width: 100%;
     flex: 2 0 100%;
    margin:2px;
    display: inherit;
 
}

 .catagories p {
    width:100%; 
	text-align:center; 
    justify-content: center;
    font-size:2rem;
	align-self: center;  
	margin:0;
    text-transform: uppercase;
    color: white;
    font-family: "Raleway Medium", "Garamond";
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 2px black;
    
}




/* Second section list items----------------------------------*/
.main-carousel {
    margin: 0 auto;
    text-align:center;
}


.mostLoved {
 
    height: 430px;
    margin-bottom:12rem;
}

.ctypes {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #969696;
    padding-top:20px;
    font-family: "Raleway Medium", "Garamond";
    font-weight: normal;
    font-style: normal;
}

.cprice {
    font-size: 12px;
    color: #969696;
    font-weight: 900;
    padding-bottom: 40px;
    font-family: "Raleway Medium", "Garamond";
    font-weight: normal;
    font-style: normal;
}

.cnames {
    font-family: "Playfair Display Regular", "Garamond";
    color: #e2574c;
    font-size:24px;
    padding: 10px;
}

.main-carousel {
    text-align: center;
    margin-bottom: 10px;
}
.carousel-cell{
    width: 100%;
}


/*------------------------signup -----------------------------*/
  
.signup {
    background-image: linear-gradient(to bottom, rgba(0,0, 0, 0.4) 0%, rgba(0,0,0,0.2) 100%),
    url(../images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    position: relative;
    height: 325px;
    background-image:center;
    background-position: bottom;
}

.signup p {
    align-self: center;
    padding-bottom: 1rem;
    max-width: 600px;
}

.signupblock {
    top: 50%;
   width: 100%;
   position:absolute;
   transform: translate(0%,-50%);
   color: white;
   font-size: 16px;
   text-align:center;
   line-height: 30px;
   text-shadow: 1px 1px 2px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    font-family: "Raleway Medium", "Garamond";
    font-weight: normal;
    font-style: normal;
}

.emailform {
    background: white; 
    margin: 0 auto;
    height: 35px;
    border-radius: 50px;
    position: relative;
    padding: .5rem 1.75rem;
    padding-right: 150px;
    width: 40%;
}

input {
    border-radius: 30px;
    margin-left: 120px;
    width: 40%;
    height: 30px;
    border: none;
    resize: none;
    padding-right: 90px;
    font-family: "Raleway Light", "Garamond";
    font-size: 14px;
    padding-top: 12px;
    color: #969696;
    left: 400px;
} 

.txt {
    
    border-radius: 30px;
    height: 15px;
    padding-left: 2%;
    border: none;
    resize: none;
    font-family: "Raleway Light", "Garamond";
    margin: 0 36% 0 0;
    color: #969696;
    outline:none; 
}

button{

    position: absolute;
    bottom: 3px;
    font-size: 14px;
    font-family: "Raleway Light", "Garamond";
    color: white;
    border-radius: 50px;
    height: 45px;
    border: 0;
    width: 120px;
    right: 3px;
    background-color: #e2574c;
    outline:none;
}

/*------------------footer-----------------------*/

footer {
    background-color: #242424;
    height:400px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align:center;
}


.address {
    color: white;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 50px;
    margin: 0 auto;
    font-family: "Playfair Display Regular", "Garamond";
}

.emailad {
    text-decoration: underline;
    color:white;
}

.street {
    color:#969696;
}



.social {
    width: 100%;
    font-size: 14px;
    line-height: 250%;
    padding-top: 10px;
    color: white;
}

h3 {
    display:none;
}
  
.social a {
    text-decoration: none;
    color: white;
    margin:.5rem;
}

.social a:hover {
    color:#b64036;
    }

.carousel {
    color: white;
}
    
  
/*MEDIA QUERIES=============================*/

@media screen and (min-width: 600px) {
    body {
    background-color: white; 
    }

 .container {
        flex-wrap:nowrap;
    }

 .cart {
     padding-left:20px;
     order: 1;
     height:3rem;
     margin: 0;
     align-self:center;
 }

 .logo {
     align-self:center;
 }
 .navmenu{
     border:none;
     align-items:center;
     padding:1rem;
     max-width:25rem;
 }


/*---------------box items--------------------------------*/

.boxitems{
    display:initial;
}
.catagories {
	display: flex;
    flex-flow: row wrap;
    min-height:500px;
    margin-bottom: 1rem;
}

.mens {
    flex: 0 2 48.3%;
}

.trends {
    flex: 0 1 24%;

}

.glasses {
    flex: 0 1 24%;
}

.sale {
    flex: 0 1 24%;
}

.bags {
    flex: 0 1 24%;

}

.womens {

    flex: 0 2 48.5%;
}

 .catagories p {
    font-size: 2rem;

}
/*------------------------list items----------------------*/
.listitems {

    
    width: 100%;
}

.listitems div {
    max-width: 1240px;
}

.carousel-cell{
    width:50%; 
}

.flickity-slider {
    width:100%;
}

.flickity-viewport {
    max-width:1240px;
}


/*----------------------sign up form------------------------------------*/


h3 {
    display:inline;
}

.social {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Raleway Light';
    margin-right: 6rem;
    margin-top: 2rem;
}

.address {
    text-align:left;
    margin-left:6rem;
}

/*------------------------------------------------------------------*/
@media screen and (min-width: 1240px) {
   body {
      background-color: white;
   }

body, html {
    font-size: 16px;
    font-family:"Raleway Light";
}

.container {
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex: 0 200 200%;

}
/* header-------------------------------------------*/

header {
    background-color: white;
    margin: 0 1.5%;
    width: 15%;
    display:flex;
    max-width: 1280px;
    flex-wrap: nowrap;
}

.navmenu {
    display:flex;
    flex: auto;
    justify-content:space-between;  
}

.navmenu p {
    width:100%; 
	text-align:center; 
    justify-content: center;
	align-self: center;  
	margin:0;
    text-transform: uppercase;
    color:#e2574c;
    
    text-decoration:none;
    }

.aboutnav {
    display: inherit;
   
}

.shopnav {
    display: inherit;

}

.featurednav {
    display:inherit;

}

.updatesnav {
    display:inherit;

}

.cart {
  
    height: auto;
    width: 85px;
    margin: 1%;
    padding-right:15px;
   
    flex: 0 0 50px;
}

.logo {
    
   
    width: 120px;
    
    margin: 1%;
    padding-left: 15px;
 
}

.carousel-cell {
    width: 25%;
}



    

