@media screen and (min-width: 600px) {
    body {
    background-color: white; 
  

    }


    .container {
        flex-wrap:nowrap;
    }

 .cart {
     padding-left:20px;
     order: 1;
     height:3rem;
     margin: 0;
     align-self:center;
 }

 .logo {
     align-self:center;
 }

 .navmenu{
     border:none;
     align-items:center;
     padding:1rem;
     max-width:25rem;
 }
 

/*---------------box items--------------------------------*/

.boxitems{
    display:initial;
}
.catagories {

	display: flex;
    flex-flow: row wrap;
    min-height:500px;
    margin-bottom: 1rem;

}

.mens {
    flex: 0 2 48.3%;
}

.trends {
    flex: 0 1 24%;

}

.glasses {
    flex: 0 1 24%;
}

.sale {
    flex: 0 1 24%;
}

.bags {
    flex: 0 1 24%;

}

.womens {

    flex: 0 2 48.5%;
}

 .catagories p {
    font-size: 2rem;

    }
/*------------------------list items----------------------*/
.listitems {

    
    width: 100%;
}

.listitems div {
    max-width: 1240px;
    
 
}
 
 /*.main-carousel {
     max-width: 1240px;
 }*/

.carousel-cell{
    width:50%;
    
  
}

.flickity-slider {
    width:100%;
}

.flickity-viewport {
    max-width:1240px;
}


/*----------------------sign up form------------------------------------*/


h3 {
    display:inline;
}

.social {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Raleway Light';
    margin-right: 6rem;
    margin-top: 2rem;
}

.address {

    text-align:left;
    margin-left:6rem;
}

/*------------------------------------------------------------------*/
@media screen and (min-width: 1240px) {
   body {
      background-color: white;
   }

body, html {
    font-size: 16px;
    font-family:"Raleway Light";


}

.container {
    
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
  
    flex: 0 200 200%;

}
/* header-------------------------------------------*/

header {
    background-color: white;
    margin: 0 1.5%;
    width: 15%;
    display:flex;
    max-width: 1280px;
    flex-wrap: nowrap;
   
}

.navmenu {
    display:flex;
    flex: auto;
    justify-content:space-between;
    
    
}

.navmenu p {
    width:100%; 
	text-align:center; 
    justify-content: center;
	align-self: center;  
	margin:0;
    text-transform: uppercase;
    color:#e2574c;
    
    text-decoration:none;
    }

.aboutnav {
    display: inherit;
   
}

.shopnav {
    display: inherit;

}

.featurednav {
    display:inherit;

}

.updatesnav {
    display:inherit;

}

.cart {
  
    height: auto;
    width: 85px;
    margin: 1%;
    padding-right:15px;
   
    flex: 0 0 50px;
}

.logo {
    
   
    width: 120px;
    
    margin: 1%;
    padding-left: 15px;
 
}

.main-carousel {
    /*max-width: 1240px;*/
}

.carousel-cell {
    width: 25%;
}



    

